*{
    margin: 0;
    padding: 0;
    background-color: lightgray;
    font-family: 'Lora', serif;
    font-family: 'Lumanosimo';  
}
.header h1{
    color: white;
    margin: 30px;
    background-color: black;
    margin-bottom: 0;
    padding: 50px;
    text-align: center;
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
}
.header h1 li{
    background-color: black; 
    display: inline;
    text-decoration: none;
}
.header h1 li a{
    text-transform: none;
    background-color: black;
    text-decoration: none;
    color: white;
}
.nav a{
    background-color: black;
    color: white;
    text-decoration: none;
    
}
ul.nav {
    padding: 20px;
    margin: 30px;
    margin-top: 0;
    background-color: black;
    font-size: 20px;
    text-align: center; 
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px;   
}
ul.nav li{
    background-color: black;
    color: white;
    margin-left: 40px;
    display: inline ;   
}
.frase{
text-align: center;
}

.frase img{
    margin-top: 30px;
}

.frase h1{
    padding: 50px;
    font-size: 40px;
    margin: 30px;
    margin-top: 0px;
    margin-bottom: 0px;
    color: white;
    background-color: black;
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
}
.frase h2{
    padding: 50px;
    font-size: 40px;
    margin: 30px;
    margin-top: 0px;
    margin-bottom: 0px;
    color: white;
    background-color: black;
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px;
}
.frase img
{
    display: inline;
    text-align: center;
    margin: 30px;
    margin-bottom: 20px;
    margin-left: 80px;
    width: 350px;
    height: 250px;
    border-radius: 30px;
}
section{
    display: flex;
    width: 600px;
    height: 430px;
}
section img{    
    width: 250px;
    object-fit: cover;
    opacity: .8;
    transition: width 0.5s ease, height 0.5s ease, opacity 0.5s ease;
    transform-origin: center;
}
section img:hover{
    cursor: grab;
    width: 400px;
    height: 300px;
    opacity: 1;
}
.productos_destacados{
    text-align: center;
}
.productos_destacados h1{
    color: white;
    margin: 30px;
    background-color: black;  
    text-align: center;  
    font-size: 40px;
    border-radius: 20px;
}
.productos_destacados img
{
    border: 10px solid black;
    border-radius: 20px;
    display: inline-block;
    text-align: center;
    width: 500px;
    height: 400px;    
    margin: 55px; 
    margin-bottom: 15px; 
}
.productos_destacados h3.arriba{
    display: inline;
    text-align: center;
    font-size: 20px;
    margin: 200px;
    margin-left: 200px;
    margin-right: 140px;
    padding: 5px;
    border-radius: 5px; 
    background-color: black;
    text-align: center;
    color: white;
}
.productos_destacados h3.abajo{
    display: inline;
    text-align: center;
    font-size: 20px;
    margin: 200px;
    margin-left: 200px;
    margin-right: 140px;
    padding: 5px;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 5px; 
    background-color: black;
    text-align: center;
    color: white;
}
.tiposDeMueble{
    text-align: center;
    margin: 20px;
}
.tiposDeMueble h1{
    color: white;
    margin: 15px;
    background-color: black;  
    text-align: center;  
    font-size: 40px;
    border-radius: 20px;
    }    
.tiposDeMueble ul{
    background-color: black;
    margin: 15px;
    border-radius: 20px;
}

.tiposDeMueble ul li
{   
    background-image: url(mesa.jpg);
    opacity: .7;
    object-fit: cover;
    background-color: white;
    width: 50px;
    height: 50px;
    margin: 30px;
    font-size: 20px;
    margin-top: 50px;
    margin-bottom: 50px;
    margin-right: 200px;
    margin-left: 150px;
    padding: 80px;
    display: inline-block ;   

} 
.tiposDeMueble ul li a{
    background-color: black;
    color: white;
    border-radius: 20px;
    padding: 5px;
    margin-right: 50px;
    text-decoration: none;
}
.primicias{
    padding: 20px;
    border-radius: 20px;
    margin: 30px;
    margin-top: 0px;
    text-align: center;
    background-color: black;
}
.primicias h1{
    color: white;   
    margin-top: 30px;
    margin-bottom: 0;
    font-size: 40px;   
    background-color: black;
    border-top-right-radius: 20px;
    border-top-left-radius:20px ;
}
.primicias h2 {
    text-align: center;
    margin-left: 90px;
    color: white;
    background-color: black;
}

.primicias input
{
    margin-top: 20px;
    margin-bottom: 20px;
    margin-right: 20px;
    margin-left: 0px;
    font-size: 50px;
    border-radius: 10px;
    color: grey;
    border: 5px solid black;

}
.primicias input.boton
{
background-color: black;
color: red;
}

.primicias input.boton:hover{
    cursor: pointer;
}

.primicias input.mail
{
    margin-left: 190px;
background-color: white;
color: black;
text-transform: uppercase;
}
.footer{
    background-color: black;
    text-align: center;
    padding-left: 750px;
    margin-top: 490px;

}
.footer h1{
    background-color: black;
    padding: 50px;
    color: white;
    position: absolute; 
}
.redes{
    font-size: 50px;
    text-align: right;
    color: white;
    background-color: black;
}
.redes i{
    padding: 50px;
    position:  relative; 
    background-color: black;
    color: white;  
}

/* Inicia Producto*/

.producto h1{
    text-align: center;
    margin: 30px;
    background-color: black;
    color: white;
    border-radius: 20px;
    padding: 15px;
    margin-left: 400px;
    margin-right: 400px;
    
}

.galeria{
    display: grid;
    text-align: center;
    margin-left: 100px;
    width: 1700px;
    height: 900px; 
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(4, 200px);  
    grid-template-areas: 
    "img1 img1 img2 img3"
    "img1 img1 img2 img4"
    "img5 img6 img7 img8"
    "img9 img9 img10 img10";                    
    grid-gap: 15px;
    padding: 15px;   
}

.galeria:hover{ 
    cursor: pointer;   
}

.item{
    background-size: cover;
    background-position: center;
    border-radius: 15px;
    filter: grayscale();
    transition: all 0.9s;
}
.item:hover{
    filter: grayscale(0);
    transform: scale(1.02);  
}

.item1{
    background-image: url(img/estantes\ 1.jpg);
    grid-area: img1;
}
.item2{
    background-image: url(img/mesa\ 1.jpg);
    grid-area: img2;
}
.item3{
    background-image: url(img/mesa\ 2.jpg);
    grid-area: img3;
}
.item4{
    background-image: url(img/mesa\ 3.jpg);  
    grid-area: img4;
}
.item5{
    background-image: url(img/mueble\ 1.jpg);  
    grid-area: img5;
}
.item6{
    background-image: url(img/mueble\ 2.jpg);  
    grid-area: img6;
}
.item7{   
    background-image: url(img/sillon\ 1.jpg);  
    grid-area: img7;
}
.item8{
    background-image: url(img/sillon\ 2.jpg);  
    grid-area: img8;
}
.item9{   
    background-image: url(img/sillon\ 3.jpg);  
    grid-area: img9;
}
.item10{
    background-image: url(img/sillon\ 4.jpg);  
    grid-area: img10;
}

/* Inicia Profesionales*/

.profesionales h1{
    text-align: center;
    font-size: 40px;
    margin-right:30px;
    margin-left:30px;
    border-radius: 20px;
    background-color: black;
    color: white;
}

.profesionales img{
    width: 600px;
    height: 400px;
    border-radius: 20px;
    border: 10px solid black;
    position: absolute;
}
.profesionales img.img1_profesionales{
    text-align: center;
    margin-top: 30px;
    margin-left: 200px;
    
}

.profesionales h2.text1_profesionales{
    background-color: black;
    text-transform: uppercase;
    color: white;
    margin-top: 100px;
    margin-left: 900px;
    margin-right: 100px;
    border-radius: 20px;
    padding: 50px;
}

.profesionales img.img2_profesionales{
    text-align: center;
    margin-top: 200px;
    margin-left: 1000px;
    width: 600px;
    height: 400px;
}

.profesionales h2.text2_profesionales{
    background-color: black;
    text-transform: uppercase;
    color: white;
    margin-top: 250px;
    margin-left: 200px;
    margin-right: 1000px;
    border-radius: 20px;
    padding: 50px;
}

.profesionales img.img3_profesionales{
    text-align: center;
    margin-top: 150px;
    width: 800px;
    height: 400px;
    margin-left: 600px;
    border-radius: 20px;
}

.trabajaConNosotros h2{
    background-color: black;
    text-align: center;
    color: white;
    margin-top: 600px;
    font-size: 30px;
    margin-left: 300px;
    margin-right: 300px;
    border-radius: 20px;
}

.trabajaConNosotros h3{
    text-align: center;
    margin-top: 20px;
    background-color: black;
    color: white;
    font-size: 25px;
    margin-left: 550px;
    margin-right: 515px;
    border-radius: 20px;
}

.trabajaConNosotros input{
    margin-left: 850px;
    margin-top: 30px;
    font-size: 30px;
    background-color: black;
    text-transform: uppercase;
    padding: 10px;
    color: white;
    border-radius: 10px;
    position: absolute;
}

.trabajaConNosotros input.nya_trabajaConNosotros{
    margin-left: 550px;
    margin-top: 30px;
    font-size: 30px;
    background-color: black;
}

.trabajaConNosotros input.prof_trabajaConNosotros{
    margin-left: 1000px;
    margin-top:12px;
    font-size: 30px;
    background-color: black;
}

.trabajaConNosotros input.ciudad_trabajaConNosotros{
    margin-left: 550px;
    margin-top: 100px;
    padding-right: 460px;
    font-size: 30px;
    background-color: black;
}

.trabajaConNosotros input.mail_trabajaConNosotros{
    margin-left: 550px;
    margin-top: 200px;
    padding-right: 460px;
    font-size: 30px;
    background-color: black;
}

.trabajaConNosotros input.tel_trabajaConNosotros{
    margin-left: 550px;
    margin-top: 300px;
    padding-right: 460px;
    font-size: 30px;
    background-color: black;
}

.trabajaConNosotros input.button_trabajaConNosotros{
    margin-left: 550px;
    margin-top: 400px;
    padding-right: 20px;
    font-size: 30px;
    background-color: black;
} 

/* Inicia Quienes Somos*/

.nosotros h1{
    background-color: black;
    color: white;
    display: inline;
}
.nosotros h1.nosotros_H1{
    text-align: left;
    margin-left: 300px;
    background-color: black;
    color: white;
    margin-bottom: 40px;
    margin-right: 1000px;
    padding: 10px;
    padding-right: 415px;
    border-radius: 20px;
}
.nosotros img.img1_nosotros{
    margin-left: 300px;
    margin-top: 20px;
    margin-bottom: 20px;
    height: 700px;
    width: 600px;
    border-radius: 20px;
    transition: none;
    transform-origin: none;
}

.nosotros h1.woodplace{
    background-color: black;
    text-align: center;
    color: white;
    display: flex;
    margin-top: -700px;
    margin-left: 950px;
    margin-right: 350px;
    border-radius: 20px;
    padding: 10px;
}
.nosotros h2.text1_nosotros{
    color: white;
    background-color: black;
    display: flex;
    margin-left: 950px;
    margin-top: 60px;
    margin-right: 350px;
    padding: 20px;
    border-radius: 20px;
    font-size: 31px;
}
.nosotros h1.nuestrosProductos{
    color: white;
    margin-top: -1000px;
    margin-left: 300px;   
    padding: 20px;
    border-radius: 20px;
}
.nosotros h1.nuestrosProductos{
    background-color: black;
    text-align: center;
    color: white;
    display: flex;
    margin-top: 20px;
    margin-left: 300px;
    margin-right: 950px;
    border-radius: 20px;
    padding-right: -500px;
}
.nosotros h2.text2_productos{
    color: white;
    background-color: black;
    display: flex;
    margin-left: 300px;  
    margin-top: 60px;
    margin-right: 950px;
    padding: 20px;
    border-radius: 20px;
    font-size: 31px;
}
.nosotros img.img2{
    
    margin-left: 996px;
    margin-top: -520px;
    margin-bottom:70px;
    height: 700px;
    width: 560px;
    border-radius: 20px;
}


/* Inicia Contacto*/

.contacto h1{
    text-align: center;
    background-color: black;
    color: white;
    padding: 20px;
    margin: 30px;
    border-radius: 20px;
}
.contacto input{
    padding: 20px;
    text-align: left;
    margin: 30px;
    padding-right: 400px;
    margin-top: 5px;
    margin-bottom: 10px;
    border-radius: 5px;
    background-color: black;
    color: white;
    font-size: 15px;
    text-transform: uppercase;
}
.contacto input.button.button_contacto{
    text-align: center;
    margin: 30px;
    margin-top: 5px;
    background-color: black;
    color: white;
    padding: 20px;
    padding-right: 50px;
    border-radius: 5px;
}
.contacto img.img_contacto{
    display: inline;
    margin-left: 35%;
    margin-top: -390px;
    margin-bottom: 100px;
    
}
.contacto h2.contacto{
    text-align: left;
    background-color: black;
    color: white;
    font-size: 20px;
    border-radius: 50px;
    padding-top: 10px;
    padding-right: 20%;
    padding-left: 5px;
    margin-right: 27px;
    margin-top: -570px;
    margin-left: 68%;
    margin-bottom: 520px;
}
.contacto h2.ubicacion{
    text-align: left ;
    background-color: black;
    color: white;
    font-size: 20px;
    border-radius: 50px;
    padding-top: 5px;
    padding-right: 0%;
    padding-left: 5px;
    padding-right: 5%;
    margin-top: -480px;
    margin-left: 68%;
    margin-bottom: 520px;
}
.contacto h2.mail{
    text-align: left ;
    background-color: black;
    color: white;
    border-radius: 50px;
    padding-top: 5px;
    padding-right: 0%;
    padding-left: 5px;
    margin-right: 27px;
    margin-top: -480px;
    margin-left: 68%;
    margin-bottom: 520px;
}
.contacto h2.num{
    text-align: left ;
    background-color: black;
    color: white;
    border-radius: 50px;
    padding-top: 5px;
    padding-right: 0%;
    padding-left: 5px;
    margin-right: 27px;
    margin-top: -480px;
    margin-left: 68%;
    margin-bottom: 500px;
}


/*Inica Responsive Productos 480px*/

@media only screen and (min-width: 480px)
{
    .nav a{
        background-color: black;
        color: white;
        text-decoration: none;
        
    }
    ul.nav {
        padding: 20px;
        margin: 30px;
        margin-top: 0;
        background-color: black;
        font-size: 20px;
        text-align: center; 
        border-bottom-right-radius: 20px;
        border-bottom-left-radius: 20px;   
    }
    ul.nav li{
        background-color: black;
        color: white;
        margin: 30px;
        display: grid ;   
    }
    .producto h1 {
        margin-left: 30px;
        margin-right: 30px;
    }
    .galeria{
        margin-top: -30px;
        margin-left: 50px;
        width: 360px;
        height: 300px; 
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(5, 200px);  
        grid-template-areas: 
        "img1 img2"
        "img3 img4"
        "img5 img6"
        "img7 img8"
        "img9 img10"; 
    }
    .ofertaCaoba h1{
        margin-top: 760px;
    }
    .ofertaNogal h1{
        margin-top: 760px;
    }
    .ofertaPino h1{
        margin-top: 760px;
    }
    .ofertaArce h1{
        margin-top: 760px;
    }
    .ofertaCedro h1{
        margin-top: 760px;
    }
    .footer{
        background-color: black;
        padding-left: 18%;
        margin-top: 760px;
    }
    .footer h1{
        background-color: black;   
    }
    
    .redes i{
        padding:0;
        margin-top: 100px;
        font-size: 41px;
        display: inline-flex;
        margin-right: 85px;
    }
    .footer{
        background-color: black;
        padding-left: 18%;
    }
    
    .footer i{
        padding:0;
        margin-top: 100px;
        font-size: 41px;
        display: inline-flex;
        margin-right: 85px;
    }
}

/*Inica Responsive Quienes Somos 480px*/
@media only screen and (min-width: 480px)
{
    .nav a{
        background-color: black;
        color: white;
        text-decoration: none;
        
    }
    ul.nav {
        padding: 20px;
        margin: 30px;
        margin-top: 0;
        background-color: black;
        font-size: 20px;
        text-align: center; 
        border-bottom-right-radius: 20px;
        border-bottom-left-radius: 20px;   
    }
    ul.nav li{
        background-color: black;
        color: white;
        margin: 30px;
        display: grid ;   
    }

    .nosotros{
        margin-right: 100px;
    }
.nosotros h1.nosotros_H1{
    text-align: left;
    margin: 30px;
    background-color: black;
    color: white;
}
.nosotros img.img1_nosotros{
    margin-left: 30px;
    margin-top: 20px;
    margin-bottom: 20px;
    height: 300px;
    width: 425px;
    border-radius: 20px;
}
.nosotros h1{
    background-color: black;
    color: white;
    display: grid;
}

.nosotros h1.woodplace{
    background-color: black;
    text-align: left;
    margin-top: -10px;
    margin-left: 30px;
    margin-right: -77px;
    color: white;
    display: grid;
}

.nosotros h2.text1_nosotros{
    color: white;
    background-color: black;
    display: grid;
    padding-right:400px ;
    margin-top: 10px;
    margin-right: 30px;
    margin-left: 30px;
    font-size: 40px;
    text-transform: uppercase;
}

.nosotros h1.nuestrosProductos{
    background-color: black;
    text-align: left;
    color: white;
    display: grid;
    margin-top: 20px;
    margin-left: 30px;
    border-radius: 20px;
    margin-right: -77px;

}

.nosotros h2.text2_productos{
    background-color: black;
    display: flex;
    margin-left: 30px;  
    margin-top: 60px;
    padding: 20px;
    border-radius: 20px;
    font-size: 40px;
    color: white;
    background-color: black;
    display: grid;
    padding-right:400px ;
    margin-top: 10px;
    margin-right: 30px;
    margin-left: 30px;
    text-transform: uppercase;
}
.nosotros img.img2{
    margin-left: 30px;
    margin-top: 30px;
    height: 300px;
    width: 425px;
}

.footer{
    background-color: black;
    padding-left: 18%;
}
.footer h1{
    background-color: black;   
}

.redes i{
    padding:0;
    margin-top: 100px;
    font-size: 41px;
    display: inline-flex;
    margin-right: 85px;
}
}

/*Inica Responsive Producto 1024px*/

@media only screen and (min-width: 1024px)
{
    .nav a{
        background-color: black;
        color: white;
        text-decoration: none;
        font-size: 18px;
        
    }
    ul.nav {
        padding: 20px;
        margin: 30px;
        margin-top: 0;
        background-color: black;
        font-size: 20px;
        text-align: center; 
        border-bottom-right-radius: 20px;
        border-bottom-left-radius: 20px;   
    }
    ul.nav li{
        background-color: black;
        color: white;
        margin-left: 40px;
        display: inline ;   
        font-size: 20px;
    }
    
    .galeria {
        width: 905px;
        height: 300px;
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: repeat(4, 200px);  
        grid-template-areas: 
        "img1 img1 img2 img3"
        "img1 img1 img2 img4"
        "img5 img6 img7 img8"
        "img9 img9 img10 img10"; 
    }
    .ofertaCaoba h1{
        margin-top: 550px;
    }
    .ofertaNogal h1{
        margin-top: 550px;
    }
    .ofertaPino h1{
        margin-top: 550px;
    }
    .ofertaArce h1{
        margin-top: 550px;
    }
    .ofertaCedro h1{
        margin-top: 550px;
    }
    .redes{
        margin-top: -56px;
        margin-left: -240px;
    }
    .footer{
        background-color: black;
        text-align: center;
        padding-left: 800px;
        margin-top: 600px;
        
    }
    .footer h1{
        margin-left: -480px;

    }

    .footer i{
        margin: 0px;
        padding: 50px;
        padding-right: 20px;
        position:  relative; 
        background-color: black;
        color: white;  
        font-size: 40px;
    }
}

/*Inica Responsive Quienes somos 1024px*/
@media only screen and (min-width: 1024px)
{
    .nosotros h1.nosotros_H1 {
    margin-right: -80px;
    }
    .nosotros img.img1_nosotros {
        margin-top: -20px;
        width: 970px;
    }
    .nosotros h2.text1_nosotros {
        margin-right: -77px;
        padding: 20px;
    }
    .nosotros h2.text2_productos {
        margin-right: -77px;
        padding: 20px;
    }
    .nosotros img.img2 {
        margin-top: 10px;
        width: 970px;
    }
    .footer{
        background-color: black;
        text-align: center;
        padding-left: 800px;
        margin-top: 600px;
        
    }
    .pie h1{
        margin-left: -480px;

    }
    .redes{
        margin-top: -56px;
        margin-left: -240px;
    }
    
    .redes i{
        margin: 0px;
        padding: 50px;
        padding-right: 20px;
        position:  relative; 
        background-color: black;
        color: white;  
        font-size: 40px;
    }
}



/*Inica Responsive Producto 1440px*/

@media only screen and (min-width: 1440px)
{
    .nav a{
        background-color: black;
        color: white;
        text-decoration: none;
        
    }
    ul.nav {
        padding: 20px;
        margin: 30px;
        margin-top: 0;
        background-color: black;
        font-size: 20px;
        text-align: center; 
        border-bottom-right-radius: 20px;
        border-bottom-left-radius: 20px;   
    }
    ul.nav li{
        background-color: black;
        color: white;
        margin-left: 40px;
        display: inline ;   
    }
    .logo h1{
        color: white;
        margin: 30px;
        background-color: black;
        margin-bottom: 0;
        padding: 50px;
        text-align: center;
        border-top-right-radius: 20px;
        border-top-left-radius: 20px;
    }
    .logo h1 li{
        background-color: black; 
        display: inline;
        text-decoration: none;
    }
    .logo h1 li a{
        text-transform: none;
        background-color: black;
        text-decoration: none;
        color: white;
    }
    .opciones a{
        background-color: black;
        color: white;
        text-decoration: none;
        
    }
    ul.opciones {
        padding: 20px;
        margin: 30px;
        margin-top: 0;
        background-color: black;
        font-size: 20px;
        text-align: center; 
        border-bottom-right-radius: 20px;
        border-bottom-left-radius: 20px;   
    }
    ul.opciones li{
        background-color: black;
        color: white;
        margin-left: 40px;
        display: inline ;   
    }
    
    .galeria {
        margin-top: -30px;
        margin-left: 15px;
        width: 1380px;
        height: 300px;
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: repeat(4, 200px);  
        grid-template-areas: 
        "img1 img1 img2 img3"
        "img1 img1 img2 img4"
        "img5 img6 img7 img8"
        "img9 img9 img10 img10"; 
    }
    .ofertaCaoba h1{
        margin-top: 550px;
    }
    .ofertaNogal h1{
        margin-top: 550px;
    }
    .ofertaPino h1{
        margin-top: 550px;
    }
    .ofertaArce h1{
        margin-top: 550px;
    }
    .ofertaCedro h1{
        margin-top: 550px;
    }
    .redes{
        margin-top: -56px;
    }
    .footer{
        background-color: black;
        text-align: center;
        padding-left: 800px;
        margin-top: 600px;
        
    }
    .footer h1{
        margin-left: -290px;

    }
    .redes{  
        background-color: black;
    }
    .redes i{
        margin: 0px;
        padding: 50px;
        position:  relative; 
        background-color: black;
        color: white;  
        font-size: 50px;
    }
}

/*Inica Responsive Quienes somos 1440px*/
@media only screen and (min-width: 1440px)
{

    .header h1{
        color: white;
        margin: 30px;
        background-color: black;
        margin-bottom: 0;
        padding: 50px;
        text-align: center;
        border-top-right-radius: 20px;
        border-top-left-radius: 20px;
    }
    .header h1 li{
        background-color: black; 
        display: inline;
        text-decoration: none;
    }
    .header h1 li a{
        text-transform: none;
        background-color: black;
        text-decoration: none;
        color: white;
    }
    .nav a{
        background-color: black;
        color: white;
        text-decoration: none;
        
    }
    ul.nav {
        padding: 20px;
        margin: 30px;
        margin-top: 0;
        background-color: black;
        font-size: 20px;
        text-align: center; 
        border-bottom-right-radius: 20px;
        border-bottom-left-radius: 20px;   
    }
    ul.nav li{
        background-color: black;
        color: white;
        margin-left: 40px;
        display: inline ;   
    }

    .nosotros{
        margin-right: 100px;
    }
.nosotros h1.nosotros_H1{
    text-align: left;
    margin: 30px;
    margin-right: -70px;
    background-color: black;
    color: white;
}
.nosotros img.img1_nosotros{
    margin-left: 30px;
    margin-top: -20px;
    margin-bottom: 20px;
    height: 300px;
    width: 1380px;
    border-radius: 20px;
}
.nosotros h1{
    background-color: black;
    color: white;
    display: grid;
}

.nosotros h1.woodplace{
    background-color: black;
    text-align: left;
    margin-top: -10px;
    margin-left: 30px;
    margin-right: -77px;
    color: white;
    display: grid;
}

.nosotros h2.text1_nosotros{
    color: white;
    background-color: black;
    display: grid;
    padding-right:400px ;
    margin-top: 10px;
    margin-right: -75px;
    margin-left: 30px;
    font-size: 40px;
    text-transform: uppercase;
}

.nosotros h1.nuestrosProductos{
    background-color: black;
    text-align: left;
    color: white;
    display: grid;
    margin-top: 20px;
    margin-left: 30px;
    border-radius: 20px;
    margin-right: -75px;

}

.nosotros h2.text2_productos{
    background-color: black;
    display: flex;
    margin-left: 30px;  
    margin-top: 60px;
    padding: 20px;
    border-radius: 20px;
    font-size: 40px;
    color: white;
    background-color: black;
    display: grid;
    padding-right:400px ;
    margin-top: 10px;
    margin-right: -75px;
    margin-left: 30px;
    text-transform: uppercase;
}
.nosotros img.img2{
    margin-left: 30px;
    margin-top: 30px;
    height: 300px;
    width: 1380px;
}
.footer{
    background-color: black;
    text-align: center;
    padding-left: 800px;
    margin-top: 600px;
    
}
.footer h1{
    margin-left: -290px;

}
.redes{
    margin-top: -56px;
    background-color: black;
}
.redes i{
    margin: 0px;
    padding: 50px;
    position:  relative; 
    background-color: black;
    color: white;  
    font-size: 50px;
}
}
