*{
    margin: 0;
    padding: 0;
    background-color: lightgray;
    font-family: 'Lora', serif;
    font-family: 'Lumanosimo';  
}
/*Inicia el Inicio*/
.header h1{     
    color: white;
    margin: 30px;
    background-color: black;
    margin-bottom: 0;
    padding: 50px;
    text-align: center;
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
    a{
        text-transform: none;
        background-color: black;
        text-decoration: none;
        color: white;
        }
}
.nav a{
    background-color: black;
    color: white;
    text-decoration: none;  
}
ul.nav {
    padding: 20px;
    margin: 30px;
    margin-top: 0;
    background-color: black;
    font-size: 20px;
    text-align: center; 
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px;   
    li{
        background-color: black;
        color: white;
        margin-left: 40px;
        display: inline ;   
    }
}
.frase{
    text-align: center;
    img{
        margin-top: 30px;
    }
        h1{
        padding: 50px;
        font-size: 40px;
        margin: 30px;
        margin-top: 0px;
        margin-bottom: 0px;
        color: white;
        background-color: black;
        border-top-right-radius: 20px;
        border-top-left-radius: 20px;
    }
    h2{
    padding: 50px;
    font-size: 40px;
    margin: 30px;
    margin-top: 0px;
    margin-bottom: 0px;
    color: white;
    background-color: black;
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px;
    }   
    
}

/* .galeria-inicio sirve para acomodar las cuatro(4) imagenes primeras con un sistema de grid, ademas de que le da un filtro gris y con el hover le devuelvo el color a las img y les aumenta minimamente la escala*/
.galeria-inicio{
    display: grid;
    text-align: center;
    margin-left: 100px;
    margin-top: 20px;
    width: 1700px;
    height: 200px;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(1, 200px);  
    grid-template-areas: 
    "img1-i img2-i img3-i img4-i";                    
    grid-gap:15px;
    padding: 10px;
    .item-inicio{
        background-size: cover;
        background-position: center;
        border-radius: 15px;
        filter: grayscale(1);
        transition: all 0.9s;
        &:hover{
        filter: grayscale(0);
        transform: scale(1.02);  
        }
    }
    .item1-inicio{
        background-image: url(./GitHubPages/inicio/img/sillon\ 1.webp);
        grid-area: img1-i;
        border-radius: 30px; 
    }
    .item2-inicio{
        background-image: url(./GitHubPages/inicio/img/mesa\ 1.webp);
        grid-area: img2-i;
        border-radius: 30px; 
    }
    .item3-inicio{
        background-image: url(./GitHubPages/inicio/img/mesa\ 2.webp);
        grid-area: img3-i;
        border-radius: 30px; 
    }
    .item4-inicio{
        background-image: url(./GitHubPages/inicio/img/mueble\ 1.webp);
        grid-area: img4-i;
        border-radius: 30px; 
    }
}
.frase img:hover{
    cursor: grab;
    width: 400px;
    height: 200px;
    opacity: 1;
}
.productos_destacados{
    text-align: center;
    h1{
        color: white;
        margin: 30px;
        background-color: black;  
        text-align: center;  
        font-size: 40px;
        border-radius: 20px;
    }
    img{
        border: 10px solid black;
        border-radius: 20px;
        display: inline-block;
        text-align: center;
        width: 500px;
        height: 400px;    
        margin: 55px; 
        margin-bottom: 15px; 
    }
    h3.arriba{
            display: inline;
            text-align: center;
            font-size: 20px;
            margin: 200px;
            margin-left: 200px;
            margin-right: 140px;
            padding: 5px;
            border-radius: 5px; 
            background-color: black;
            text-align: center;
            color: white;
    }
    h3.abajo{
        display: inline;
        text-align: center;
        font-size: 20px;
        margin: 200px;
        margin-left: 200px;
        margin-right: 140px;
        padding: 5px;
        padding-left: 10px;
        padding-right: 10px;
        border-radius: 5px; 
        background-color: black;
        text-align: center;
        color: white;
    }       
}
.tiposDeMueble{
    text-align: center;
    margin: 20px;
    h1{
        color: white;
        margin: 15px;
        background-color: black;  
        text-align: center;  
        font-size: 40px;
        border-radius: 20px;
    }  
    ul{
        background-color: black;
        margin: 15px;
        border-radius: 20px;
    }
    ul li
    {   
    object-fit: cover;
    background-size: 100% 100%;
    height:100%;
    opacity: .6;
    border-radius: 10px;
    background-color: white;
    width: 50px;
    height: 50px;
    margin: 30px;
    font-size: 20px;
    margin-top: 50px;
    margin-bottom: 50px;
    margin-right: 200px;
    margin-left: 150px;
    padding: 80px;
    display: inline-block ;
    
} 
ul li.img-roble
{
    background-image: url(./GitHubPages/inicio/img/img-roble.webp);
}
ul li.img-caoba
{
    background-image: url(./GitHubPages/inicio/img/img-caoba.webp);
}
ul li.img-nogal
{
    background-image: url(./GitHubPages/inicio/img/img-nogal.webp);
}
ul li.img-pino
{
    background-image: url(./GitHubPages/inicio/img/img-pino.webp);
}
ul li.img-arce
{
    background-image: url(./GitHubPages/inicio/img/img-arce.webp);
}
ul li.img-cedro
{
    background-image: url(./GitHubPages/inicio/img/img-cedro.webp);
}
    ul li a{
    background-color: black;
    color: white;
    border-radius: 20px;
    padding: 5px;
    margin-left: -6px;
    margin-right: 50px;
    text-decoration: none;
}
}
.primicias{
    padding: 20px;
    border-radius: 20px;
    margin: 30px;
    margin-top: 0px;
    text-align: center;
    background-color: black;
    h1{
        color: white;   
        margin-top: 30px;
        margin-bottom: 0;
        font-size: 40px;   
        background-color: black;
        border-top-right-radius: 20px;
        border-top-left-radius:20px ;
    }
    h2 {
        text-align: center;
        margin-left: 90px;
        color: white;
        background-color: black;
    }
    input
    {
    margin-top: 20px;
    margin-bottom: 20px;
    margin-right: 20px;
    margin-left: 0px;
    font-size: 50px;
    border-radius: 10px;
    color: grey;
    border: 5px solid black;
    }
    input.boton{
    background-color: black;
    color: grey;
    &:hover{
        cursor: pointer;
    }
    input.mail{
    margin-left: 190px;
    background-color: white;
    color: black;
    text-transform: uppercase;
    }
    }
}
.footer{
    background-color: black;
    text-align: center;
    padding-left: 750px;
    margin-top: 490px;
    h1{
        background-color: black;
        color: white;
        padding: 50px;
        position: absolute; 
    }
}
.redes{
    font-size: 50px;
    text-align: right;
    color: white;
    background-color: black;
    padding-bottom: 1px;
    i{
        padding: 50px;
        position:  relative; 
        background-color: black;
        color: white;  
    }
}

/* Inicia Producto*/
.producto h1{
    text-align: center;
    margin: 30px;
    background-color: black;
    color: white;
    border-radius: 20px;
    padding: 15px;
    margin-left: 400px;
    margin-right: 400px;
}
/*.galeria modifica el posicionamiento de las img que estan debajo los tipos de madera*/
.galeria{
    display: grid;
    text-align: center;
    margin-left: 100px;
    width: 1700px;
    height: 900px; 
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(4, 200px);  
    grid-template-areas: 
    "img1 img1 img2 img3"
    "img1 img1 img2 img4"
    "img5 img6 img7 img8"
    "img9 img9 img10 img10";                    
    grid-gap: 15px;
    padding: 15px;   
    :hover{ 
        cursor: pointer;   
    }
}
/*.item le da un filtro de gris a las imagenes mas un hover que le incrementa la escala y le devuelve el color a las img*/
.item{
    object-fit: cover;
    background-size: 100% 100%;
    height:100%;
    background-size: cover;
    background-position: center;
    border-radius: 15px;
    filter: grayscale(1);
    transition: all 0.9s;
    &:hover{
        filter: grayscale(0);
        transform: scale(1.02);  
    }
}

/*Empieza los img de la parte de roble*/
.item1-r{
    background-image: url(./GitHubPages/producto/img/img-roble/img-roble1.webp);
    grid-area: img1;
}
.item2-r{
    background-image: url(./GitHubPages/producto/img/img-roble/img-roble2.webp);
    grid-area: img2;
}
.item3-r{
    background-image: url(./GitHubPages/producto/img/img-roble/img-roble3.webp);
    grid-area: img3;
}
.item4-r{
    background-image: url(./GitHubPages/producto/img/img-roble/img-roble4.webp);  
    grid-area: img4;
}
.item5-r{
    background-image: url(./GitHubPages/producto/img/img-roble/img-roble5.webp);  
    grid-area: img5;
}
.item6-r{
    background-image: url(./GitHubPages/producto/img/img-roble/img-roble6.webp);  
    grid-area: img6;
}
.item7-r{   
    background-image: url(./GitHubPages/producto/img/img-roble/img-roble7.webp);  
    grid-area: img7;
}
.item8-r{
    background-image: url(./GitHubPages/producto/img/img-roble/img-roble8.webp);  
    grid-area: img8;
}
.item9-r{   
    background-image: url(./GitHubPages/producto/img/img-roble/img-roble9.webp);  
    grid-area: img9;
}
.item10-r{
    background-image: url(./GitHubPages/producto/img/img-roble/img-roble10.webp);  
    grid-area: img10;
}

/*Empieza los img de la parte de caoba*/
.item1-ca{
    background-image: url(./GitHubPages/producto/img/img-caoba/img-caoba1.webp);
    grid-area: img1;
}
.item2-ca{
    background-image: url(./GitHubPages/producto/img/img-caoba/img-caoba2.webp);
    grid-area: img2;
}
.item3-ca{
    background-image: url(./GitHubPages/producto/img/img-caoba/img-caoba3.webp);
    grid-area: img3;
}
.item4-ca{
    background-image: url(./GitHubPages/producto/img/img-caoba/img-caoba4.webp);  
    grid-area: img4;
}
.item5-ca{
    background-image: url(./GitHubPages/producto/img/img-caoba/img-caoba5.webp);  
    grid-area: img5;
}
.item6-ca{
    background-image: url(./GitHubPages/producto/img/img-caoba/img-caoba6.webp);  
    grid-area: img6;
}
.item7-ca{   
    background-image: url(./GitHubPages/producto/img/img-caoba/img-caoba7.webp);  
    grid-area: img7;
}
.item8-ca{
    background-image: url(./GitHubPages/producto/img/img-caoba/img-caoba8.webp);  
    grid-area: img8;
}
.item9-ca{   
    background-image: url(./GitHubPages/producto/img/img-caoba/img-caoba9.webp);  
    grid-area: img9;
}
.item10-ca{
    background-image: url(./GitHubPages/producto/img/img-caoba/img-caoba10.webp);  
    grid-area: img10;
}

/*Empieza los img de la parte de nogal*/
.item1-n{
    background-image: url(./GitHubPages/producto/img/img-nogal/img-nogal1.webp);
    grid-area: img1;
}
.item2-n{
    background-image: url(./GitHubPages/producto/img/img-nogal/img-nogal2.webp);
    grid-area: img2;
}
.item3-n{
    background-image: url(./GitHubPages/producto/img/img-nogal/img-nogal3.webp);
    grid-area: img3;
}
.item4-n{
    background-image: url(./GitHubPages/producto/img/img-nogal/img-nogal4.webp);  
    grid-area: img4;
}
.item5-n{
    background-image: url(./GitHubPages/producto/img/img-nogal/img-nogal5.webp);  
    grid-area: img5;
}
.item6-n{
    background-image: url(./GitHubPages/producto/img/img-nogal/img-nogal6.webp);  
    grid-area: img6;
}
.item7-n{   
    background-image: url(./GitHubPages/producto/img/img-nogal/img-nogal7.webp);  
    grid-area: img7;
}
.item8-n{
    background-image: url(./GitHubPages/producto/img/img-nogal/img-nogal8.webp);  
    grid-area: img8;
}
.item9-n{   
    background-image: url(./GitHubPages/producto/img/img-nogal/img-nogal9.webp);  
    grid-area: img9;
}
.item10-n{
    background-image: url(./GitHubPages/producto/img/img-nogal/img-nogal10.webp);  
    grid-area: img10;
}

/*Empieza los img de la parte de pino*/
.item1-p{
    background-image: url(./GitHubPages/producto/img/img-pino/img-pino1.webp);
    grid-area: img1;
}
.item2-p{
    background-image: url(./GitHubPages/producto/img/img-pino/img-pino2.webp);
    grid-area: img2;
}
.item3-p{
    background-image: url(./GitHubPages/producto/img/img-pino/img-pino3.webp);
    grid-area: img3;
}
.item4-p{
    background-image: url(./GitHubPages/producto/img/img-pino/img-pino4.webp);  
    grid-area: img4;
}
.item5-p{
    background-image: url(./GitHubPages/producto/img/img-pino/img-pino5.webp);  
    grid-area: img5;
}
.item6-p{
    background-image: url(./GitHubPages/producto/img/img-pino/img-pino6.webp);  
    grid-area: img6;
}
.item7-p{   
    background-image: url(./GitHubPages/producto/img/img-pino/img-pino7.webp);  
    grid-area: img7;
}
.item8-p{
    background-image: url(./GitHubPages/producto/img/img-pino/img-pino8.webp);  
    grid-area: img8;
}
.item9-p{   
    background-image: url(./GitHubPages/producto/img/img-pino/img-pino9.webp);  
    grid-area: img9;
}
.item10-p{
    background-image: url(./GitHubPages/producto/img/img-pino/img-pino10.webp);  
    grid-area: img10;
}

/*Empieza los img de la parte de arce*/
.item1-a{
    background-image: url(./GitHubPages/producto/img/img-arce/img-arce1.webp);
    grid-area: img1;
}
.item2-a{
    background-image: url(./GitHubPages/producto/img/img-arce/img-arce2.webp);
    grid-area: img2;
}
.item3-a{
    background-image: url(./GitHubPages/producto/img/img-arce/img-arce3.webp);
    grid-area: img3;
}
.item4-a{
    background-image: url(./GitHubPages/producto/img/img-arce/img-arce4.webp);  
    grid-area: img4;
}
.item5-a{
    background-image: url(./GitHubPages/producto/img/img-arce/img-arce5.webp);  
    grid-area: img5;
}
.item6-a{
    background-image: url(./GitHubPages/producto/img/img-arce/img-arce6.webp);  
    grid-area: img6;
}
.item7-a{   
    background-image: url(./GitHubPages/producto/img/img-arce/img-arce7.webp);  
    grid-area: img7;
}
.item8-a{
    background-image: url(./GitHubPages/producto/img/img-arce/img-arce8.webp);  
    grid-area: img8;
}
.item9-a{   
    background-image: url(./GitHubPages/producto/img/img-arce/img-arce9.webp);  
    grid-area: img9;
}
.item10-a{
    background-image: url(./GitHubPages/producto/img/img-arce/img-arce10.webp);  
    grid-area: img10;
}

/*Empieza los img de la parte de cedro*/
.item1-ce{
    background-image: url(./GitHubPages/producto/img/img-cedro/img-cedro1.webp);
    grid-area: img1;
}
.item2-ce{
    background-image: url(./GitHubPages/producto/img/img-cedro/img-cedro2.webp);
    grid-area: img2;
}
.item3-ce{
    background-image: url(./GitHubPages/producto/img/img-cedro/img-cedro3.webp);
    grid-area: img3;
}
.item4-ce{
    background-image: url(./GitHubPages/producto/img/img-cedro/img-cedro4.webp);  
    grid-area: img4;
}
.item5-ce{
    background-image: url(./GitHubPages/producto/img/img-cedro/img-cedro5.webp);  
    grid-area: img5;
}
.item6-ce{
    background-image: url(./GitHubPages/producto/img/img-cedro/img-cedro6.webp);  
    grid-area: img6;
}
.item7-ce{   
    background-image: url(./GitHubPages/producto/img/img-cedro/img-cedro7.webp);  
    grid-area: img7;
}
.item8-ce{
    background-image: url(./GitHubPages/producto/img/img-cedro/img-cedro8.webp);  
    grid-area: img8;
}
.item9-ce{   
    background-image: url(./GitHubPages/producto/img/img-cedro/img-cedro9.webp);  
    grid-area: img9;
}
.item10-ce{
    background-image: url(./GitHubPages/producto/img/img-cedro/img-cedro10.webp);  
    grid-area: img10;
}

/* Inicia Profesionales*/
.profesionales h1{
    text-align: center;
    font-size: 40px;
    margin-right:30px;
    margin-left:30px;
    border-radius: 20px;
    background-color: black;
    color: white;
}
.profesionales img{
    width: 600px;
    height: 400px;
    border-radius: 20px;
    position: absolute;
}
/* .profesionales img.img1_profesionales sirve para modificar la primer img que se encuentra*/
.profesionales img.img1_profesionales{
    text-align: center;
    margin-top: 30px;
    margin-left: 200px;   
}
.profesionales h2.text1_profesionales{
    background-color: black;
    text-transform: uppercase;
    color: white;
    margin-top: 100px;
    margin-left: 900px;
    margin-right: 100px;
    border-radius: 20px;
    padding: 50px;
}
/* .profesionales img.img2_profesionales sirve para modificar la segunda img que se encuentra*/
.profesionales img.img2_profesionales{
    text-align: center;
    margin-top: 200px;
    margin-left: 1000px;
    width: 600px;
    height: 400px;
}
.profesionales h2.text2_profesionales{
    background-color: black;
    text-transform: uppercase;
    color: white;
    margin-top: 250px;
    margin-left: 200px;
    margin-right: 1000px;
    border-radius: 20px;
    padding: 50px;
}
/* .profesionales img.img3_profesionales sirve para modificar la tercera img que se encuentra*/
.profesionales img.img3_profesionales{
    text-align: center;
    margin-top: 150px;
    width: 800px;
    height: 400px;
    margin-left: 600px;
    border-radius: 20px;
}
.trabajaConNosotros h2{
    background-color: black;
    text-align: center;
    color: white;
    margin-top: 600px;
    font-size: 30px;
    margin-left: 300px;
    margin-right: 300px;
    border-radius: 20px;
}
.trabajaConNosotros h3{
    text-align: center;
    margin-top: 20px;
    background-color: black;
    color: white;
    font-size: 25px;
    margin-left: 550px;
    margin-right: 515px;
    border-radius: 20px;
}
.trabajaConNosotros input{
    margin-left: 850px;
    margin-top: 30px;
    font-size: 30px;
    background-color: black;
    text-transform: uppercase;
    padding: 10px;
    color: white;
    border-radius: 10px;
    position: absolute;
}
/* Desde la linea 712 hasta la 754 esta el control de los cinco(5) campos de relleno y un(1) boton, cada uno diferenciado por clase*/
.trabajaConNosotros input.nya_trabajaConNosotros{
    margin-left: 550px;
    margin-top: 30px;
    font-size: 30px;
    background-color: black;
}
.trabajaConNosotros input.prof_trabajaConNosotros{
    margin-left: 1000px;
    margin-top:12px;
    font-size: 30px;
    background-color: black;
}
.trabajaConNosotros input.ciudad_trabajaConNosotros{
    margin-left: 550px;
    margin-top: 100px;
    padding-right: 460px;
    font-size: 30px;
    background-color: black;
}
.trabajaConNosotros input.mail_trabajaConNosotros{
    margin-left: 550px;
    margin-top: 200px;
    padding-right: 460px;
    font-size: 30px;
    background-color: black;
}
.trabajaConNosotros input.tel_trabajaConNosotros{
    margin-left: 550px;
    margin-top: 300px;
    padding-right: 460px;
    font-size: 30px;
    background-color: black;
}

.trabajaConNosotros input.button_trabajaConNosotros{
    margin-left: 550px;
    margin-top: 400px;
    padding-right: 20px;
    font-size: 30px;
    background-color: black;
} 

/* Inicia Quienes Somos*/
.nosotros h1{
    background-color: black;
    color: white;
    display: inline;
}
.nosotros h1.nosotros_H1{
    text-align: left;
    margin-left: 300px;
    background-color: black;
    color: white;
    margin-bottom: 40px;
    margin-right: 1000px;
    padding: 10px;
    padding-right: 415px;
    border-radius: 20px;
}
/* .nosotros img.img1_nosotros sirve para modificar la primer img que se encuentra*/
.nosotros img.img1_nosotros{
    margin-left: 300px;
    margin-top: 20px;
    margin-bottom: 20px;
    height: 700px;
    width: 600px;
    border-radius: 20px;
    transition: none;
    transform-origin: none;
}

.nosotros h1.woodplace{
    background-color: black;
    text-align: center;
    color: white;
    display: flex;
    margin-top: -700px;
    margin-left: 950px;
    margin-right: 350px;
    border-radius: 20px;
    padding: 10px;
}
.nosotros h2.text1_nosotros{
    color: white;
    background-color: black;
    display: flex;
    margin-left: 950px;
    margin-top: 60px;
    margin-right: 350px;
    padding: 20px;
    border-radius: 20px;
    font-size: 31px;
}
.nosotros h1.nuestrosProductos{
    color: white;
    margin-top: -1000px;
    margin-left: 300px;   
    padding: 20px;
    border-radius: 20px;
}
.nosotros h1.nuestrosProductos{
    background-color: black;
    text-align: center;
    color: white;
    display: flex;
    margin-top: 20px;
    margin-left: 300px;
    margin-right: 950px;
    border-radius: 20px;
    padding-right: -500px;
}
.nosotros h2.text2_productos{
    color: white;
    background-color: black;
    display: flex;
    margin-left: 300px;  
    margin-top: 60px;
    margin-right: 950px;
    padding: 20px;
    border-radius: 20px;
    font-size: 31px;
}
/* .nosotros img.img2 sirve para modificar la segunda img que se encuentra*/
.nosotros img.img2{
    margin-left: 996px;
    margin-top: -520px;
    margin-bottom:70px;
    height: 700px;
    width: 560px;
    border-radius: 20px;
}

/*Inicia Contacto*/
.contacto h1{
    text-align: center;
    background-color: black;
    color: white;
    padding: 20px;
    margin: 30px;
    border-radius: 20px;
}
.contacto input{
    padding: 20px;
    text-align: left;
    margin: 30px;
    padding-right: 400px;
    margin-top: 5px;
    margin-bottom: 10px;
    border-radius: 5px;
    background-color: black;
    color: white;
    font-size: 15px;
    text-transform: uppercase;
}

.contacto input.button.button_contacto{
    text-align: center;
    margin: 30px;
    margin-top: 5px;
    background-color: black;
    color: white;
    padding: 20px;
    padding-right: 50px;
    border-radius: 5px;
}
/* .contacto iframe sirve para modificar la implementacion del google maps*/
.contacto iframe {
    display: inline;
    margin-left: 30px;
    margin-top: 4px;
    margin-bottom: 100px;
    width: 315px;
    height: 304px;
}
.contacto h2.contacto{
    text-align: left;
    background-color: black;
    color: white;
    font-size: 20px;
    border-radius: 50px;
    padding-top: 10px;
    padding-right: 20%;
    padding-left: 5px;
    margin-right: 27px;
    margin-top: -570px;
    margin-left: 68%;
    margin-bottom: 520px;
    
}
.contacto h2.ubicacion{
    text-align: left ;
    background-color: black;
    color: white;
    font-size: 20px;
    border-radius: 50px;
    padding-top: 5px;
    padding-right: 0%;
    padding-left: 5px;
    padding-right: 5%;
    margin-top: -480px;
    margin-left: 68%;
    margin-bottom: 520px;
}
.contacto h2.mail{
    text-align: left ;
    background-color: black;
    color: white;
    border-radius: 50px;
    padding-top: 5px;
    padding-right: 0%;
    padding-left: 5px;
    margin-right: 27px;
    margin-top: -480px;
    margin-left: 68%;
    margin-bottom: 520px;
}
.contacto h2.num{
    text-align: left ;
    background-color: black;
    color: white;
    border-radius: 50px;
    padding-top: 5px;
    padding-right: 0%;
    padding-left: 5px;
    margin-right: 27px;
    margin-top: -480px;
    margin-left: 68%;
    margin-bottom: 500px;
}

/* @import sirve para aplicar el resto de archivos .scss para unirlos todos dentro de un solo archivo .css, estan en orden como aparecen en la pagina.*/
@import "GitHubPages/inicio/inicio","GitHubPages/producto/producto","GitHubPages/profesionales/profesionales","GitHubPages/quienes_somos/quienes_somos", "GitHubPages/contacto/contacto"