/*Inicia Responsive Profesionales 320px*/
@media only screen and (min-width: 320px)
{
.profesionales{
    h1 {
        font-size: 25px;
        margin-right: 30px;
        margin-left: 34px;
        border-radius: 5px;
        padding-right: 250px;
        padding-left: 38px;
    }
    h2.text1_profesionales {
        margin-top: 20px;
        margin-left: 30px;
        margin-right: 0px;
        padding: 15px;
    }
    img.img1_profesionales {
        margin-top: 360px;
        margin-left: 30px;
        height: 200px;
        width: 295px;
    }
    h2.text2_profesionales {
        margin-top: 230px;
        margin-left: 30px;
        margin-right: -19px;
        padding: 10px;
        padding-left: 22px;
    }
    img.img2_profesionales {
        margin-top: 615px;
        margin-left: 30px;
        height: 200px;
        width: 310px;
    }
    img.img3_profesionales {
        margin-top: 230px;
        height: 200px;
        width: 310px;
        margin-left: 30px;
        border-radius: 20px;
    }
}
.trabajaConNosotros{
    h2 {
        margin-top: 465px;
        margin-left: 30px;
        margin-right: -20px;
        border-radius: 10px;
    }
    h3 {
        font-size: 27px;
        padding: 10px;
        margin-left: 30px;
        margin-right: -20px;
        border-radius: 10px;
    }
    input.nya_trabajaConNosotros {
        margin-left: 31px;
        font-size: 24px;
    }
    input.prof_trabajaConNosotros {
        margin-left: 30px;
        margin-top: 80px;
        font-size: 24px;
    }
    input.ciudad_trabajaConNosotros {
        margin-left: 31px;
        margin-top: 130px;
        padding-right: 10px;
        font-size: 24px;
    }
    input.mail_trabajaConNosotros {
        margin-left: 30px;
        margin-top: 180px;
        padding-right: 10px;
        font-size: 24px;
    }
    input.tel_trabajaConNosotros {
        margin-left: 30px;
        margin-top: 230px;
        padding-right: 10px;
        font-size: 24px;
    }
    input.button_trabajaConNosotros {
        margin-left: 30px;
        margin-top: 280px;
        padding-right: 10px;
        font-size: 25px;
    }
}
}

/*Inicia Responsive Profesionales 375px*/
@media only screen and (min-width: 375px)
{
.profesionales{
    h1 {
        text-align: center;
        font-size: 25px;
        margin-right: 30px;
        margin-left: 34px;
        border-radius: 5px;;
    }
    h2.text1_profesionales {
    margin-right: 30px;
    padding: 10px;
    }
    img.img1_profesionales {
        text-align: center;
        margin-top: 330px;
        margin-left: 40px;
        height: 200px;
        width: 295px;
    }
    h2.text2_profesionales {
        margin-top: 270px;
        margin-right: 30px;
        padding: 10px;
    }
    img.img2_profesionales {
        margin-top: 660px;
        margin-left: 40px;
        width: 295px;
    }
    img.img3_profesionales {
    margin-top: 255px;
    width: 295px;
    margin-left: 40px;
    }
}
.trabajaConNosotros{
    h2 {
    margin-top: 490px;
    margin-right: 30px;
    }
    h3 {
    margin-right: 30px;
    }
}
}
/*Inicia Responsive Profesionales 425px*/
@media only screen and (min-width: 425px)
{
.profesionales{
    img.img1_profesionales {
        margin-top: 310px;
        margin-left: 30px;
        width: 355px;
    }
    img.img2_profesionales {
        margin-top: 613px;
        width: 355px;
    }
    img.img3_profesionales {
        width: 355px;
    }
}
.trabajaConNosotros{
    input.nya_trabajaConNosotros {
        padding-right: 60px;
    }
    input.prof_trabajaConNosotros {
        padding-right: 60px;
    }
    input.ciudad_trabajaConNosotros {
        padding-right: 60px;
    }
    input.mail_trabajaConNosotros {
        padding-right: 60px;
    }
    input.tel_trabajaConNosotros {
        padding-right: 60px;
    }
}
.footer {
    padding-bottom: 5px;
}
.footer h1 {
    margin-left: 20px;
    padding-right: 78px;
    padding-bottom: 75px;
}
.redes {
    padding-bottom: 2px;
    i {
        margin-top: 100px;
    }
}
.footer-profesionales {
    padding-bottom: 4px;
}
}
/*Inicia Responsive Profesionales 480px*/
@media only screen and (min-width: 480px)
{
.profesionales{
    img.img1_profesionales {
        margin-top: 286px;
        margin-left: 40px;
        width: 400px;
    }
    img.img2_profesionales {
        margin-top: 560px;
        margin-left: 40px;
        width: 400px;
    }
    img.img3_profesionales {
        margin-top: 255px;
        margin-left: 40px;
        width: 400px;
    }
}
.trabajaConNosotros{
    input.nya_trabajaConNosotros {
        padding-right: 95px;
    }
    input.prof_trabajaConNosotros {
        padding-right: 95px;
    }
    input.ciudad_trabajaConNosotros {
        padding-right: 95px;
    }
    input.mail_trabajaConNosotros {
        padding-right: 95px;
    }
    input.tel_trabajaConNosotros {
        padding-right: 95px;
    }
    input.button_trabajaConNosotros {
        padding-right: 50px;
    }
}
}
/*Inicia Responsive Profesionales 552px*/
@media only screen and (min-width: 520px)
{
    .profesionales{
        img.img1_profesionales {
            margin-top: 270px;
            margin-left: 60px;
        }
        img.img2_profesionales {
            margin-top: 540px;
            margin-left: 60px;
        }
        img.img3_profesionales {
            margin-top: 255px;
            margin-left: 60px;
            width: 400px;
        }
    }
}
/*Inicia Responsive Profesionales 552px*/
@media only screen and (min-width: 520px)
{
    .profesionales{
        img.img1_profesionales {
            margin-top: 240px;
            margin-left: 60px;
        }
        img.img2_profesionales {
            margin-top: 490px;
            margin-left: 60px;
        }
        img.img3_profesionales {
            margin-top: 255px;
            margin-left: 60px;
            width: 400px;
        }
    }
}
/*Inicia Responsive Profesionales 735px*/
@media only screen and (min-width: 735px)
{
    .profesionales{
        img.img1_profesionales {
            margin-top: 200px;
            margin-left: 170px;
        }
        img.img2_profesionales {
            margin-top: 440px;
            margin-left: 170px;
        }
        img.img3_profesionales {
            margin-left: 170px;
            width: 400px;
        }
    }
}
/*Inicia Responsive Profesionales 768px*/
@media only screen and (min-width: 768px)
{
.profesionales{
    h1 {
        padding-left: 230px;
    }
    img.img1_profesionales {
        margin-top: 165px;
        width: 490px;
        margin-left: 125px;
    }
    img.img2_profesionales{
        margin-top: 445px;
        margin-left: 30px;
        width: 490px;
        margin-left: 125px;
    }
    img.img3_profesionales{
        margin-top: 255px;
        width: 490px;
        margin-left: 125px;
    }
}
.trabajaConNosotros {
    h2{
    font-size: 40px;
    }
    h3{
        font-size: 25px;
    }
    input.nya_trabajaConNosotros{
        font-size: 33px;
        padding-right: 285px;
    }
    input.prof_trabajaConNosotros {
    font-size: 30px;
    padding-right: 330px;
    }
    input.ciudad_trabajaConNosotros {
        font-size: 30px;
        padding-right: 330px;
    }
    input.mail_trabajaConNosotros {
        font-size: 30px;
        padding-right: 330px;
    }
    input.tel_trabajaConNosotros {
        font-size: 30px;
        padding-right: 330px;
    }
    input.button_trabajaConNosotros {
        font-size: 30px;
    }
}
.redes {
    padding-bottom: 4px;
}
}
/*Inicia Responsive Profesionales 1024px*/
@media only screen and (min-width: 1024px)
{
.profesionales{
    h1 {
        border-radius: 15px;
    }
    h2.text1_profesionales {
        margin-left: 500px;
        margin-top: 75px;
    }
    img.img1_profesionales {
        margin-top: 20px;
        margin-left: 30px;
        height: 270px;
        width: 425px;
    }
    h2.text2_profesionales {
        margin-top: 70px;
        margin-right: 500px;
    }
    img.img2_profesionales {
        margin-top: 30px;
        margin-left: 549px;
        height: 270px;
        width: 425px;
    }
    img.img3_profesionales {
        margin-top: 80px;
        height: 340px;
        width: 630px;
        margin-left: 200px;
    }
}
.trabajaConNosotros{
    h2 {
        border-radius: 20px;
    }
    h3 {
        margin-top: 20px;
        font-size: 30px;
        margin-left: 30px;
        margin-right: 30px;
        border-radius: 20px;
    }
    input.nya_trabajaConNosotros{
        padding-right: 95px;
        font-size: 30px;    
    }
    input.prof_trabajaConNosotros {
        padding-right: 95px;
        font-size: 30px;
        margin-top: 12px;
        margin-left: 525px;
    }
    input.ciudad_trabajaConNosotros {
        padding-right: 95px;
        font-size: 30px;
        margin-top: 75px;
        padding-right: 590px;
    }
    input.mail_trabajaConNosotros {
        padding-right: 95px;
        font-size: 30px;
        margin-top: 135px;
        padding-right: 590px;
    }
    input.tel_trabajaConNosotros {
        padding-right: 95px;
        font-size: 30px;
        margin-top: 195px;
        padding-right: 590px;
    }
    input.button_trabajaConNosotros {
        padding-right: 50px;
        font-size: 30px;
    }
}
.footer{
    margin-top: 400px;
}
.redes {
    padding-bottom: 5px;
}
}
/*Inicia Responsive Profesionales 1046*/
@media only screen and (min-width: 1046px)
{
    .profesionales{
        h2.text2_profesionales {
            margin-top: 70px;
            margin-right: 60%;
        }
    }
}
/*Inicia Responsive Profesionales 1200px*/
@media only screen and (min-width: 1200px) {
    .profesionales img.img2_profesionales {
        width: 425px;  
        margin-top: 3%;  
        margin-left: 60%; 
    }

    .profesionales h2.text2_profesionales {
        margin-top: 10%;
        margin-right: 50%;
        text-align: left;  
    }
}
/*Inicia Responsive Profesionales 1300px*/
@media only screen and (min-width: 1300px) {
    .profesionales{
        h2.text1_profesionales {
            margin-left: 45%;
            margin-right: 10%;
            margin-top: 75px;
        }
        img.img1_profesionales {
            margin-top: 2%;
            margin-left: 3%;
            height: 50%;
            width: 40%;
        }
        img.img2_profesionales {
            width: 425px;  
            margin-top: 3%;  
            margin-left: 52%;  
        }
        h2.text2_profesionales {
            margin-top: 10%;
            margin-right: 50%;
            text-align: left;  
        }
    }
}
/*Inicia Responsive Profesionales 1420px*/
@media only screen and (min-width: 1420px)
{
.profesionales{
    h1 {
        border-radius: 15px;
        font-size: 30px;
    }
    h2.text1_profesionales {
        margin-left: 700px;
    }
    img.img1_profesionales {
        height: 280px;
        width: 600px;
    }
    h2.text2_profesionales {
        margin-top: 140px;
        margin-right: 705px;
    }
    img.img2_profesionales {
        margin-left: 775px;
        height: 280px;
        width: 600px;
    }
    img.img3_profesionales {
        margin-top: 105px;
        height: 350px;
        width: 900px;
        margin-left: 295px;
    }
}
.trabajaConNosotros{
    h2 {
        margin-top: 570px;
    }
    input.nya_trabajaConNosotros {
        margin-left: 205px;
        padding-right: 120px;
    }
    input.prof_trabajaConNosotros {
        margin-left: 720px;
    padding-right: 120px;
    }
    input.ciudad_trabajaConNosotros {
        padding-right: 95px;
        font-size: 30px;
        margin-top: 75px;
        padding-right: 635px;
        margin-left: 205px;
    }
    input.mail_trabajaConNosotros {
        font-size: 30px;
        margin-top: 135px;
        padding-right: 635px;
        margin-left: 205px;
    }
    input.tel_trabajaConNosotros {
        padding-right: 95px;
        font-size: 30px;
        margin-top: 195px;
        padding-right: 635px;
        margin-left: 205px;
    }
    input.button_trabajaConNosotros {
        padding-right: 49px;
        margin-left: 205px;
    }
}
.redes{
    padding-bottom: 18px;
}
}

/*Inicia Responsive Profesionales 1446px*/
@media only screen and (min-width: 1446px)
{
.profesionales{
    h1{
        text-align: center;
        font-size: 40px;
        border-radius: 20px;
    }
    img{
        width: 600px;
        height: 400px;
        border-radius: 20px;
        border: 10px solid black;
        position: absolute;
        object-fit: cover;
    background-size: 100% 100%;
    }
    img.img1_profesionales{
        text-align: center;
        margin-top: 30px;
        margin-left: 105px;
    } 
    h2.text1_profesionales{
        margin-top: 100px;
        margin-left: 785px;
        margin-right: 100px;
        padding: 30px;
    }
    img.img2_profesionales{
        text-align: center;
        margin-top: 60px;
        margin-left: 735px;
        width: 600px;
        height: 400px;
    }
    h2.text2_profesionales{
        margin-top: 140px;
        margin-left: 90px;
        margin-right: 770px;
        padding: 30px;
    }
    img.img3_profesionales{
        margin-top: 150px;
        width: 800px;
        height: 400px;
        margin-left: 320px;
    }
}
.trabajaConNosotros{
    h2{
        margin-top: 600px;
        font-size: 40px;
    }
    h3{
        margin-top: 20px;
        font-size: 30px;
    }
    input{
        margin-left: 50px;
        margin-top:10px;
        font-size: 30px;
        text-transform: uppercase;
        padding: 10px;
        border-radius: 10px;
        position: absolute;
    }
    input.nya_trabajaConNosotros{
        margin-left: 30px;
        padding-right: 240px;
    }
    input.prof_trabajaConNosotros{
        margin-left: 745px;
        padding-right: 260px;
    }
    input.ciudad_trabajaConNosotros{
        margin-left: 30px;
        padding-right: 975px;
        font-size: 30px;
    }
    input.mail_trabajaConNosotros{
        margin-left: 30px;
        padding-right: 975px;
        font-size: 30px;
    }
    input.tel_trabajaConNosotros{
        margin-left: 30px;
        padding-right: 975px;
        font-size: 30px;
    }
    input.button_trabajaConNosotros{
        margin-left: 30px;
        padding-right: 20px;
        font-size: 40px;
    } 
}
}
/*Inicia Responsive Profesionales 1447px*/
@media only screen and (min-width: 1447px)
{
.profesionales{
    h1{
        text-align: center;
        font-size: 40px;
        border-radius: 20px;
    }
    img.img1_profesionales{
        margin-left: 60px;
    } 
    h2.text1_profesionales{
        margin-top: 65px;
        margin-left: 50%;
    }
    img.img2_profesionales{
        text-align: center;
        margin-top: 15px;
        margin-left: 809px;
    }
    h2.text2_profesionales {
    margin-left: 5%;
    margin-right: 50%;
    padding-right: 8%;
    }
    img.img3_profesionales{
        margin-left: 30%;
    }
}
.trabajaConNosotros{
    input{
        margin-left: 850px;
        margin-top:10px;
        font-size: 30px;
        text-transform: uppercase;
        padding: 10px;
        border-radius: 10px;
        position: absolute;
    }
    input.nya_trabajaConNosotros{
        margin-left: 60px;
    }
    input.prof_trabajaConNosotros{
        margin-left: 775px;
    }
    input.ciudad_trabajaConNosotros{
        margin-left: 60px;
    }
    input.mail_trabajaConNosotros{
        margin-left: 60px;
    }
    input.tel_trabajaConNosotros{
        margin-left: 60px;
    }
    input.button_trabajaConNosotros{
        margin-left: 60px;
    } 
}
}
/*Inicia Responsive Profesionales 1600px*/
@media only screen and (min-width: 1600px)
{
    .profesionales{
        h2.text2_profesionales{
            margin-left: 5%;
            margin-right: 57%;
            padding-right: 2%;
    }
    }
}
/*Inicia Responsive Profesionales 1700px*/
@media only screen and (min-width: 1700px)
{
    .profesionales{
        h2.text2_profesionales {
            margin-top: 135px;
            margin-left: 57px;
            margin-right: 973px;
            padding-right: 89px;
        }
        img.img2_profesionales {
            text-align: center;
            margin-top: 15px;
            margin-left: 900px;
        }
    }
    .trabajaConNosotros{
        input.prof_trabajaConNosotros {
            margin-left: 930px;
        }
        input.ciudad_trabajaConNosotros {
            padding-right: 1130px;
        }
        input.mail_trabajaConNosotros {
            padding-right: 1130px;
        }
        input.tel_trabajaConNosotros {
            padding-right: 1130px;
        }
    }
}
/*Inicia Responsive Profesionales 1800px*/
@media only screen and (min-width: 1800px)
{
    .profesionales{
        h2.text2_profesionales {
            margin-top: 8%;
            margin-left: 3%;
            margin-right: 57%;
    }
    h2.text1_profesionales {
        margin-top: 65px;
        margin-left: 44%;
    }
    img.img1_profesionales {
        margin-left: 7%;
    }
    }
}
/*Inicia Responsive Quienes somos 1900px*/
@media only screen and (min-width: 1900px)
{
    .profesionales{
        h2.text2_profesionales {
            margin-top: 170px;
        }
        img.img2_profesionales {
            margin-top: 30px;
            margin-left: 1045px;
        }
        img.img3_profesionales {
            margin-left: 480px;
        }
    }
    .trabajaConNosotros{
        input.nya_trabajaConNosotros {
            margin-left: 60px;
            padding-right: 480px;
        }
        input.prof_trabajaConNosotros {
            margin-left: 930px;
            padding-right: 560px;
        }
        input.ciudad_trabajaConNosotros {
            padding-right: 1430px;
        }
        input.mail_trabajaConNosotros {
            padding-right: 1430px;
        }
        input.tel_trabajaConNosotros {
            padding-right: 1430px;
        }
    }
}
/*Inicia Responsive Quienes somos 2560px*/
@media only screen and (min-width: 2560px)
{
.profesionales{
    h1 {
        font-size: 95px;
    }
    img.img1_profesionales {
        margin-left: 184px;
        width: 705px;
        height: 445px;
    }
    h2.text1_profesionales {
        margin-left: 1040px;
        font-size: 45px;
    }
    img.img2_profesionales {
        margin-top: 115px;
        margin-left: 1517px;
        width: 822px;
        height: 562px;
        }
    h2.text2_profesionales {
    margin-right: 1355px;
    font-size: 45px;
    }
    img.img3_profesionales {
        margin-left: 849px;
    }
}
.trabajaConNosotros{
    input.nya_trabajaConNosotros{
    font-size: 50px;
    }
    input.prof_trabajaConNosotros{
        font-size: 50px;
        margin-left: 1345px;
    }
    input.ciudad_trabajaConNosotros{
        margin-top: 95px;
        font-size: 50px;
        padding-right: 1343px;
    }
    input.mail_trabajaConNosotros{
        font-size: 50px;
        margin-top: 175px;
        padding-right: 1343px;
    }
    input.tel_trabajaConNosotros{
        font-size: 50px;
        margin-top: 250px;
        padding-right: 1343px;
    }
    input.button_trabajaConNosotros{
        font-size: 50px;
        margin-top: 350px;
    } 
}
.footer {
    padding-bottom: 3px;
}
}