/*Inicia Responsive Quienes Somos 320px*/
@media only screen and (min-width: 320px)
{
.header h1{
    padding-right: 240px;
    
}
.nav a{
    text-decoration: none;
}
ul.nav {
    padding: 20px;
    margin: 30px;
    margin-top: 0;
    margin-left: 30px;
    margin-right: 0px;
    background-color: black;
    font-size: 20px;
    padding-right: 15px;
    padding-left: 22px;
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px;  
    li{
        margin: 30px;
        display: grid ;   
    }
}
.nosotros{
    margin-right: 100px;
    h1{
        display: grid;
    }
    h1.nosotros_H1{
        text-align: left;
        margin: 28px;
        margin-right: -70px;
        padding-right: 280px;
    }
    h1.woodplace{
        margin-top: -10px;
        margin-left: 30px;
        padding-right: 280px;
        display: grid;
    }
    h1.nuestrosProductos{
        margin-left: 30px;
        padding-right: 245px;
        padding-left: 48px;
    }
    h2.text1_nosotros {
        padding: 10px;
        padding-right: 270px;
        margin-top: 10px;
        margin-left: 28px;
        font-size: 30px;
        text-transform: uppercase;
    }
    h2.text2_productos{
        font-size: 28px;
        margin-top: 10px;
        padding: 10px;
        padding-right: 285px;
        padding-left: 10px;
        margin-left: 30px;
        text-transform: uppercase;
    }
    img.img1_nosotros{
        margin-left: 30px;
        margin-top: 0px;
        height: 300px;
        width: 290px;
    }
    img.img2{
        margin-left: 30px;
        margin-top: 30px;
        height: 300px;
        width: 290px;
    }
}
.footer{
    padding-left: 10%;
    padding-bottom: 1px;
}
}

/*Inicia Responsive Quienes Somos 375px*/
@media only screen and (min-width: 375px)
{
.nav a{
    text-decoration: none;
}
ul.nav {
    padding: 20px;
    margin: 30px;
    margin-top: 0;
    background-color: black;
    font-size: 20px;
    text-align: center; 
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px;   
    li{
        margin: 30px;
        display: grid ;   
    }
}
.nosotros{
    h1{
        display: grid;
    }
    margin-right: 100px;
    h1.nosotros_H1{
        text-align: left;
        margin: 30px;
        margin-right: -70px;
        padding-right: 59px;
    }
    h1.woodplace{
        text-align: left;
        margin-top: -10px;
        margin-left: 30px;
        margin-right: -70px;
        display: grid;
    }
    h1.nuestrosProductos{
        text-align: left;
        display: grid;
        margin-top: 20px;
        margin-left: 30px;
        border-radius: 20px;
        margin-right: -70px;
    }
    h2.text1_nosotros {
        display: grid;
        padding-right: 295px;
        margin-top: 10px;
        margin-right: 30px;
        margin-left: 30px;
        font-size: 30px;
        text-transform: uppercase;
    }
    h2.text2_productos{
        display: flex;
        margin-left: 30px;  
        margin-top: 60px;
        padding: 20px;
        border-radius: 20px;
        font-size: 30px;
        display: grid;
        margin-top: 10px;
        padding-right: 295px;
        margin-left: 30px;
        text-transform: uppercase;
    }
    img.img1_nosotros{
        width: 315px;
    }
    img.img2{
        margin-left: 30px;
        margin-top: 30px;
        height: 300px;
        width: 320px;
    }
}
.footer{
    padding-left: 10%;
    padding-bottom: 4px;
}
.redes {
    font-size: 50px;
    text-align: right;
    color: white;
    background-color: black;
    padding-bottom: 1px;
    padding-right: 45px;
    margin-left: 56px;
    margin-left: -685px;
    i {
        padding: 0;
        margin-top: 100px;
        font-size: 41px;
        display: inline-flex;
        margin-right: 55px;
        margin-top: 100px;
    }
}
}
/*Inicia Responsive Quienes Somos 425px*/
@media only screen and (min-width: 425px)
{
.nosotros{
    h1.woodplace {
        margin-right: -65px;
    }
    h1.nuestrosProductos {
        padding-left: 80px;
        margin-right: -65px;
    }
    h2.text1_nosotros {
        padding-right: 295px;
        margin-right: -64px;
    }
    h2.text2_productos {
        padding-right: 340px;
    }
    img.img1_nosotros {
        margin-left: 30px;
        margin-top: -10px;
        width: 360px;
    }
    img.img2 {
        margin-left: 30px;
        margin-top: 20px;
        height: 300px;
        width: 360px;
    }
}
.footer{
    padding-bottom: 1px;
    h1 {
        margin-left: 20px;
        padding-right: 78px;
        padding-bottom: 75px;
    }
}
.redes {
    font-size: 50px;
    padding-right: 70px;
    text-align: right;
    color: white;
    background-color: black;
    padding-bottom: 1px;
    i {
        margin-top: 100px;
    }
}
}
/*Inicia Responsive Quienes Somos 480px*/
@media only screen and (min-width: 480px)
{
.nav a{
    text-decoration: none;
    
}
ul.nav {
    padding: 20px;
    margin: 30px;
    margin-top: 0;
    background-color: black;
    font-size: 20px;
    text-align: center; 
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px;   
    li{
        margin: 30px;
        display: grid ;   
    }
}
.nosotros{
    margin-right: 100px;
    h1{
        display: grid;
    }
    h1.nosotros_H1{
        text-align: left;
        margin: 30px;
        margin-right: -77px;
    }
    h1.woodplace{
        text-align: left;
        margin-top: -10px;
        margin-left: 30px;
        margin-right: -77px;
        display: grid;
    }
    h2.text1_nosotros{
        padding-right: 400px;
        font-size: 40px;
    }
    h2.text2_productos{
        font-size: 40px;
        padding-right: 397px;
    }
    img.img1_nosotros{
    margin-top: 20px;
    width: 415px;
    }
    img.img2{
        width: 415px;
    }
}
.footer{
    padding-left: 18%;
}
.redes i{
    padding:0;
    margin-top: 100px;
    font-size: 41px;
    display: inline-flex;
    margin-right: 85px;
}
}
/*Inicia Responsive Quienes Somos 768px*/
@media only screen and (min-width: 768px)
{
    .header{
        margin-right:0px;
    }
    .header h1 {
        padding-right: 240px;
        padding-left: 245px;
    }
.nav a{
        text-decoration: none;
        
}
ul.nav {
    padding: 20px;
    margin: 30px;
    margin-top: 0;
    font-size: 20px;
    text-align: center; 
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px;   
    li{
        margin: 4px;
        display: inline;  
    }
}
.nosotros {
    margin-right: 0px;
    h1.nosotros_H1 {
        margin-right: 28px;
    }
    h1.woodplace {
        margin-right: 30px;
    }
    h1.nuestrosProductos {
        margin-right: 30px;
        font-size: 30px;
    }
    h2.text1_nosotros {
        padding-right: 30px;
        margin-top: 10px;
        margin-right: 30px;
        margin-left: 30px;
        font-size: 30px;
    }
    h2.text2_productos {
        font-size: 30px;
        padding-right: 14px;
        margin-right: 30px;
    }
    img.img1_nosotros {
        margin-top: -15px;
        height: 358px;
        width: 705px;
    }
    img.img2 {
        margin-top: 15px;
        height: 358px;
        width: 705px;
    }
}
.footer{
    h1{
        margin-left: 80px;  
    }
}
.redes {
    font-size: 50px;
    padding-right: 70px;
    text-align: right;
    color: white;
    background-color: black;
    padding-bottom: 1px;
    padding-right: 255px;
    i{
        padding:0;
        margin-top: 100px;
        font-size: 41px;
        display: inline-flex;
        margin-right: 164px;
    }
}
}
/*Inicia Responsive Quienes somos 1024px*/
@media only screen and (min-width: 1024px)
{
.nosotros{
    h1.nosotros_H1 {
        margin-right: 30px;
    }
    h1.nuestrosProductos {
        padding-left: 10px;
    }
    h2.text1_nosotros {
        margin-right: 30px;
        padding: 20px;
    }
    h2.text2_productos {
        margin-right: 30px;
        padding: 20px;
    }
    img.img1_nosotros {
        margin-top: -20px;
        width: 965px;
    }
    img.img2 {
        margin-top: 10px;
        width: 965px;
    }
}
.footer{
    text-align: center !important;
    padding-left: 800px !important;
    margin-top: 600px !important;
    padding-bottom: 10px;
    h1{
        margin-top: 5px;
        margin-left: -480px;
    }
    
}
.redes{
    margin-top: -56px;
    margin-left: -240px;
    padding-right: 40px;
    i{
        position:  relative; 
        font-size: 40px;
    }
}
}

/*Inicia Responsive Quienes somos 1440px*/
@media only screen and (min-width: 1440px)
{
.header h1{
    margin: 30px;
    margin-bottom: 0;
    padding: 50px;
    text-align: center;
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
    li{
        display: inline;
        text-decoration: none;
    }
    li a{
        text-transform: none;
        text-decoration: none;
        color: white;
    }
}
.nav a{
    text-decoration: none;
    
}
ul.nav {
    padding: 20px;
    margin: 30px;
    margin-top: 0;
    font-size: 20px;
    text-align: center; 
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px;   
    li{
        color: white;
        margin-left: 40px;
        display: inline ;   
    }
}
.nosotros{
    margin-right: 100px;
    h1.nosotros_H1{
        text-align: left;
        margin: 30px;
        margin-right: -70px;
    }
    img.img1_nosotros{
        width: 1380px;
    }
    h1{
        display: grid;
    }
    h1.woodplace{
        margin-right: -77px;
    }
    h2.text1_nosotros{
    margin-right: -75px;
    font-size: 40px;
    }
    h1.nuestrosProductos{
        text-align: left;
        display: grid;
        margin-top: 20px;
        margin-left: 30px;
        border-radius: 20px;
        margin-right: -75px;
    }
    h2.text2_productos{
        font-size: 40px;
        margin-right: -75px;
    }
    img.img2{
    margin-top: 30px;
    width: 1380px;
    }
}
.footer{
    text-align: center;
    padding-left: 800px;

    margin-top: 600px;
    h1{
        margin-left: -290px;
        color: white;
    }
}
.redes{
    margin-top: 0px;
    padding-bottom: 18px;
    i{

        padding: 50px;
        font-size: 50px;
        margin-top: 80px;
    }
}
}

/*Inicia Responsive Quienes somos 1446px*/
@media only screen and (min-width: 1446px)
{
.header h1{
    margin: 30px;
    margin-bottom: 0;
    padding: 50px;
    text-align: center;
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
    li{
        display: inline;
        text-decoration: none;
    }
    li a{
        text-transform: none;
        text-decoration: none;
        color: white;
    }
}
.nav a{
    text-decoration: none;
}
ul.nav {
    padding: 20px;
    margin: 30px;
    margin-top: 0;
    font-size: 20px;
    text-align: center; 
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px;   
    li{
        margin-left: 40px;
        display: inline ;   
    }
}
.nosotros{
    h1{
        display: inline;
    }
    h1.nosotros_H1{
        margin-left: 140px;
        padding-right: 415px;
    }
    h1.woodplace{
        margin-top: -700px;
        margin-left: 810px;
        padding-right: 460px;
        margin-right: 350px;
    }
    h1.nuestrosProductos {
        display: flex;
        margin-top: 20px;
        margin-left: 140px;
        margin-right: 590px;
    }
    h2.text1_nosotros{
        margin-left: 810px;
        margin-right: 64px;
        font-size: 25px;
    }
    h2.text2_productos {
        margin-left: 140px;
        margin-top: 30px;
        margin-right: 590px;
        font-size: 25px;
    }
    img.img1_nosotros{
        margin-left: 140px;
        margin-top: 20px;
        margin-bottom: 20px;
        height: 700px;
        width: 600px;
        border-radius: 20px;
    }
    img.img2 {
        margin-left: 810px;
        margin-top: -460px;
        height: 560px;
        width: 475px;
    }
}
.footer{
    text-align: center;
    padding-left: 800px;
    margin-top: 600px;
    h1{
        margin-left: -310px;
    }
}
.redes{
    i{
        margin: 0px;
        padding: 50px;
        position:  relative; 
        font-size: 50px;
    }
}
}
/*Inicia Responsive Quienes somos 1517px*/
@media only screen and (min-width: 1517px)
{
.nosotros{
    h1{
        display: inline;
    }
    h1.nosotros_H1{
        margin-left: 146px;
    }
    h1.woodplace {
        padding-right: 530px;
    }
    img.img2 {
        margin-left: 875px;
    }
}
}
/*Inicia Responsive Quienes somos 1579px*/
@media only screen and (min-width: 1579px)
{
.nosotros{
    h1{
        display: inline;
    }
    h1.nosotros_H1{
        margin-left: 140px;
        padding-left: 33px;
        padding-right: 390px;
        margin-right: 182px;
    }
    h1.woodplace {
        padding-right: 600px;
    }
    h1.nuestrosProductos {
        margin-top: 110px;
        margin-right: 695px;
    }
    h2.text2_productos {
        margin-right: 695px;
    }
    img.img2 {
        margin-left: 875px;
        margin-top: -560px;
        width: 540px;
    }
}
}

/*Inicia Responsive Quienes somos 1600px*/
@media only screen and (min-width: 1600px)
{
.header h1{
    margin: 30px;
    margin-bottom: 0;
    padding: 50px;
    text-align: center;
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
    li{
        display: inline;
        text-decoration: none;
    }
    li a{
        text-transform: none;
        text-decoration: none;
        color: white;
    }
}
.nav a{
    text-decoration: none;
}
ul.nav {
    padding: 20px;
    margin: 30px;
    margin-top: 0;
    font-size: 20px;
    text-align: center; 
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px;   
    li{
        margin-left: 40px;
        display: inline ;   
    }
}
.nosotros{
    h1{
        display: inline;
    }
    h1.nosotros_H1{
        text-align: left;
        margin-left: 300px;
        margin-bottom: 40px;
        margin-right: 1000px;
        padding: 10px;
        padding-right: 415px;
        border-radius: 20px;
    }
    img.img1_nosotros{
        margin-left: 300px;
        margin-top: 20px;
        margin-bottom: 20px;
        height: 700px;
        width: 600px;
        border-radius: 20px;
    }
    h1.woodplace{
        text-align: center;
        display: flex;
        margin-top: -700px;
        margin-left: 950px;
        margin-right: 350px;
        border-radius: 20px;
        padding: 10px;
    }
    h1.nuestrosProductos{
        margin-top: -1000px;
        margin-left: 300px;   
        padding: 20px;
        border-radius: 20px;
    }
    h1.nuestrosProductos{
        text-align: center;
        color: white;
        display: flex;
        margin-top: 20px;
        margin-left: 300px;
        margin-right: 950px;
        border-radius: 20px;
        padding-right: -500px;
    }
    h2.text1_nosotros{
        display: flex;
        margin-left: 950px;
        margin-top: 60px;
        margin-right: 350px;
        padding: 10px;
        border-radius: 20px;
        font-size: 25px;
    }
    h2.text2_productos{
        display: flex;
        margin-left: 300px;  
        margin-top: 60px;
        margin-right: 950px;
        padding: 20px;
        border-radius: 20px;
        font-size: 25px;
    }
    img.img2{
    
        margin-left: 910px;
        margin-top: -520px;
        margin-bottom: 20px;
        height: 700px;
        width: 560px;
        border-radius: 20px;
    }
}
.footer{
    text-align: center;
    padding-left: 800px;
    margin-top: 600px;
    h1{
        padding: 50px;
        margin-left: -50px;
        margin-top: 0px;
        position: absolute; 
    }
}
.redes{
    i{
        margin: 0px;
        padding: 50px;
        position:  relative; 
        font-size: 50px;
    }
}
}
/*Inicia Responsive Quienes somos 2560px*/
@media only screen and (min-width: 2560px)
{
.header h1{
    margin: 30px;
    margin-bottom: 0;
    padding: 50px;
    text-align: center;
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
    font-size: 110px;
    li{
        display: inline;
        text-decoration: none;
    }
    li a{
        text-transform: none;
        text-decoration: none;
        color: white;
    }
}
.nav a{
    text-decoration: none;
    font-size: 50px;
}
ul.nav {
    padding: 20px;
    margin: 30px;
    margin-top: 0;
    font-size: 20px;
    text-align: center; 
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px;   
    li{
        margin-left: 40px;
        display: inline ;   
    }
}
.nosotros{
    h1{
        display: inline;
    }
    h1.nosotros_H1{
        font-size: 90px;
        margin-left: 170px;
    }
    img.img1_nosotros{
        margin-left: 170px;
        height: 800px;
        width: 922px;
    }
    h1.woodplace{
        font-size: 90px;
        margin-top: -800px;
        margin-left: 1170px;
        margin-right: 100px;
    }
    h2.text1_nosotros{
    margin-left: 1170px;
    margin-right: 105px;
    padding: 10px;
    font-size: 40px;
    }
    h1.nuestrosProductos{
        font-size: 73px;
        margin-left: 170px;
        margin-right: 1352px;
    }
    h2.text2_productos{
        margin-left: 170px;
        margin-right: 1350px;
        font-size: 40px;
    }
    img.img2{
        margin-left: 1210px;
        margin-top: -745px;
        height: 895px;
        width: 1145px;
    }
}
.footer{
    padding-bottom: 42px;
    h1{
    font-size: 90px;
    }
}
.redes{
    i{
        margin: 0px;
        padding: 50px;
        position:  relative; 
        font-size: 87px;
    }
}
}